telethon
gitpython
pyrogram
sqlalchemy==1.3.23
psycopg2-binary
gitpython
pymongo
dnspython
requests
apscheduler
bs4
lxml
geopy
PyDictionary
gpytranslate
pillow
multicolorcaptcha
cryptg
crypto
aiofiles
aiohttp
py-carbon
gtts
mutagen
youtube-search-python
youtube_dl
lottie
cairosvg
akinator.py
GoogleNews
tpblite
wget
geniuses
bing-image-downloader==1.1.1
researchacademic
heroku3
